* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  font-family: "Inria Serif", serif;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-family: "Inria Serif", serif;
  font-style: normal;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-family: "Inria Serif", serif;
  font-style: normal;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-family: "Inria Serif", serif;
  font-style: normal;
  font-weight: 100;
}

p {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.btn-1 {
  background-color: #CCAE7A;
  color: #F8FAFB;
}

.btn-1:hover {
  border: 2px solid #73230A;
  background-color: #F8FAFB;
  color: #73230A;
}

.btn-2 {
  background-color: #73230A;
  color: #F8FAFB;
}

.btn-2:hover {
  border: 2px solid #73230A;
  background-color: #F8FAFB;
  color: #73230A;
}

.footer {
  background-color: #282626;
}

.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/*---portada---*/
.portada {
  background-image: url(../imagenes/index.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .portada {
    background-image: url(../imagenes/index.jpg);
    height: 600px;
    background-position: center;
    background-attachment: fixed;
  }
}
@media (min-width: 1280px) {
  .portada {
    background-image: url("../imagenes/index.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    gap: 1rem;
  }
}
.portada div {
  color: #F8FAFB;
  text-align: center;
  gap: 1rem;
  padding: 5rem;
}
@media (min-width: 768px) {
  .portada div {
    color: #F8FAFB;
    display: block;
    padding: 11rem;
    align-items: start;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .portada div {
    color: #F8FAFB;
    display: block;
    padding: 15rem;
    align-items: start;
    text-align: center;
  }
}
.portada h1 {
  color: #F8FAFB;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .portada h1 {
    color: #F8FAFB;
    display: block;
    padding: 0rem;
    align-items: start;
    text-align: center;
  }
}
.portada h4 {
  padding: 1rem;
}
@media (min-width: 768px) {
  .portada h4 {
    padding: 3.5rem;
    gap: 3rem;
  }
}

/*---Empezemos---*/
.seccion-empecemos {
  background-color: #F8FAFB;
  padding: 3rem;
}
@media (min-width: 768px) {
  .seccion-empecemos {
    background-color: #F8FAFB;
  }
}
@media (min-width: 1280px) {
  .seccion-empecemos {
    background-color: #F8FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
  }
}
.seccion-empecemos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .seccion-empecemos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 1rem;
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .seccion-empecemos div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

/*----proyectos en florida----*/
.index {
  background-color: #F8FAFB;
}

.Proyectos-en-Florida {
  text-align: center;
  padding: 3rem;
}

.slider-proyectos {
  background-color: #F8FAFB;
}

/*----Escribeme----*/
.escribeme {
  background-image: url(../imagenes/escribeme.png);
  height: 500px;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .escribeme {
    background-image: url(../imagenes/escribeme.png);
    height: 400px;
    background-position: center;
    background-attachment: fixed;
  }
}
@media (min-width: 1280px) {
  .escribeme {
    background-image: url("../imagenes/escribeme.png");
    height: 400px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    gap: 1rem;
  }
}
.escribeme div {
  color: #282626;
  text-align: center;
  gap: 1rem;
  padding: 5rem;
}
@media (min-width: 768px) {
  .escribeme div {
    color: #282626;
    display: block;
    padding: 6rem;
    align-items: start;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .escribeme div {
    color: #282626;
    display: block;
    padding: 6rem;
    align-items: start;
    text-align: center;
  }
}
.escribeme h2 {
  color: #282626;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .escribeme h2 {
    color: #282626;
    display: block;
    padding: 0rem;
    align-items: start;
    text-align: center;
  }
}
.escribeme a {
  background-color: #282626;
  color: #F8FAFB;
  text-align: center;
  padding: 0.7rem 2rem;
  border: 1px solid #282626;
  border-radius: 11px;
}
@media (min-width: 768px) {
  .escribeme a {
    background-color: #282626;
    color: #F8FAFB;
    text-align: center;
    padding: 0.7rem 2rem;
    border: 1px solid #282626;
    border-radius: 11px;
  }
}
@media (min-width: 1280px) {
  .escribeme a {
    background-color: #282626;
    color: #F8FAFB;
    text-align: center;
    padding: 0.7rem 2rem;
    border: 1px solid #282626;
    border-radius: 11px;
  }
}
.escribeme h4 {
  padding: 1rem;
}
@media (min-width: 768px) {
  .escribeme h4 {
    padding: 3.5rem;
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .escribeme h4 {
    padding: 4rem;
  }
}

.blog {
  background-color: #F8FAFB;
}

.bg-blue {
  background-color: #F8FAFB;
}

.bio {
  background-color: #F8FAFB;
  padding: 3rem;
}
@media (min-width: 768px) {
  .bio {
    background-color: #F8FAFB;
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .bio {
    background-color: #F8FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    gap: 1rem;
  }
}
.bio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .bio div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 1rem;
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .bio div {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}

.contacto {
  height: 900px;
}

/*# sourceMappingURL=style.css.map */
