$color-primary:#F8FAFB;
$color-secondary:#282626;
$color-tertiary: #CCAE7A;
$color-quaternary: #73230A;
$font-titulo:'Jost', sans-serif;
$font-subtitulo:'Jost', sans-serif;
$font-parrafo:'Inter', sans-serif;





.text-red{
    color: $color-quaternary;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img {
    max-width: 100%;
    
}

a{
    text-decoration: none;
    font-family: $font-parrafo;
    font-style: normal;
    font-weight: 400;
}

h1{
    font-size: 3rem;
    font-family: $font-titulo;
    font-style: normal;
    font-weight: 600;
}

h2{
    font-size: 2.5rem;
    font-family:$font-subtitulo;
    font-style: normal;
    font-weight: 600;
}

h3{
    font-size: 2rem;
    font-family: $font-subtitulo;
    font-style: normal;
    font-weight: 600;
}

h4{
    font-size: 1.7rem;
    font-family: $font-subtitulo;
    font-style: normal;
    font-weight: 400;
}

p{
    font-family: $font-parrafo;
    font-style: normal;
}


@mixin mq-tablet {
    @media (min-width:768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:1280px) {
        @content;
    }
}

