/*---portada---*/

.index{
    background-color: $color-primary;
}

.portada {
    background-image: url(../imagenes/index.webp);
    height: 800px;
    background-size: cover;
    background-position: center;


    @include mq-tablet{
        background-image: url(../imagenes/index.webp);
        height: 00px;
        background-position: center;
        background-attachment: fixed;
    }

    @include desktop {
        background-image: url(../imagenes/index.webp);
        height: 800px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        gap: 1rem;
        }
    
   
    div {
        color: $color-primary;
        text-align: center;
        gap: 1rem;
        padding: 5rem;

        @include mq-tablet{ 
         color:$color-primary;
         display:block;
         padding: 11rem;
         align-items:start;
         text-align: center;
        }

        @include desktop {
            color: $color-primary;
            display:block;
            padding: 8rem;
            align-items:start;
            text-align: center;
        }
    }

    h1 {
        color: $color-primary;
        display:block;
        align-items: center;
        text-align: center;

        @include mq-tablet{
            color: $color-primary;
            display:block;
            padding: 0rem;
            align-items:start;
            text-align: center;
          }

    }
    h4 {
        padding: 1rem;

        @include mq-tablet{
            padding: 3.5rem;
            gap: 3rem;
          }
    }
}

/*---Empezemos---*/

.seccion-empecemos{
 background-color:$color-primary;
 padding: 3rem;

   @include mq-tablet{
      background-color:$color-primary;
    }

   @include desktop {
      background-color:$color-primary;
      display: flex;
      justify-content: center;
      align-items: center;
       padding: 6rem;
    }

div{
 display: flex;
 flex-direction:column;
 align-items:center;
 text-align:justify;
 gap: 1rem;
 padding: 1rem;

 @include mq-tablet{
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align:justify;
    gap: 1rem;
    padding: 1rem;
 }

 @include desktop {
     width:40%;
     display: flex;
     flex-direction: column;
     align-items: start;
 }
}

}

/*----proyectos en florida----*/



.slider-proyectos{
    background-color: $color-primary;

}

/*----Escribeme----*/

.escribeme {
 background-image: url(../imagenes/escribeme.webp);
 height: 500px;
 background-size: cover;
 background-position: center;


      @include mq-tablet{
          background-image: url(../imagenes/escribeme.webp);
          height: 600px;
          background-position: center;
          background-attachment: fixed;
     }
    
     @include desktop {
         background-image: url(../imagenes/escribeme.webp);
         height: 600px;
         background-size: cover;
         background-position: center;
         background-attachment: fixed;
         gap: 1rem;
        }


    div {
     color:$color-secondary;
     text-align: center;
     gap: 1rem;
     padding: 5rem;

        @include mq-tablet{
          color: $color-secondary;
          display:block;
          padding: 6rem;
          align-items:start;
          text-align: center;
        }

        @include desktop {
            color: #282626;
            display:block;
            padding: 6rem;
            align-items:start;
            text-align: center;
         
        }
    }
    
    h2 {
        color:$color-secondary;
        display:block;
        text-align: center;

        @include mq-tablet{
            color:$color-secondary;
            display:block;
            padding: 0rem;
            align-items:start;
            text-align: center;
        }

    }
    
    a {
        background-color:#282626;
        color:$color-primary;
        text-align:center;
        padding: .7rem 2rem;
        border: 1px solid #282626;
        border-radius: 11px;

        @include mq-tablet{
            background-color: #282626;
         color:$color-primary;
         text-align:center;
         padding: .7rem 2rem;
         border: 1px solid #282626;
         border-radius: 11px;  
        }

        @include desktop {
            background-color: #282626;
            color:$color-primary;
            text-align:center;
            padding: .7rem 2rem;
            border: 1px solid #282626;;
            border-radius: 11px;
        }
    
    }
    
    h4 {
        padding: 1rem;

        @include mq-tablet{
         padding: 3.5rem;
         gap: 3rem;   
        }

        @include desktop {
            padding: 4rem;
        }
    }
    
}




   
        
       


