.footer{
    background-color:$color-secondary;
}

.whatsapp {

    position: fixed; 
    right: 20px;
    bottom: 20px;
}

.whats:hover {
transform: scale(1.5,1.5);
}

footer i:hover{
color:bisque;
}